.login__page {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwY4ivEoWvRyRZVHKyDsHCpHLthNiDNMCwIg&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 77px);
    margin-top: -50px;
    overflow-y: hidden;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgb(255, 128, 81);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;
    margin: 70px 0 0 120px;
}

.container {
    margin: 1.5rem;
}

.container>input {
    border: 1px solid gray;
    height: 2.5rem;
    width: 17rem;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    text-indent: 4px;
}

.button.btn__login {
    width: 100%;
}

.register__link {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.9px;
    color: rgb(78, 77, 77);
}