.mySwiper {
    margin-top: -19px;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 300px;
    width: 1000px;
    /* background-color: red; */
    /* border: 2px solid red; */
}


.image-container {
    object-fit: cover;
    background-size: center;

}

.image-container img {
    width: 1000px;
    height: 300px;

    object-fit: cover;

}