* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-category {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

ul li {
    margin: 0 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

ul li a {
    margin-bottom: 5px;
    color: antiquewhite;
    text-decoration: none;
}